libDesarrollo_8_10/libDesarrollo_8_10.v12.suo
libDesarrollo_8_10/libDesarrollo_8_10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
libDesarrollo_8_10/libDesarrollo_8_10.v12.suo
WEB_Desarrollo_8_10/WEB_Desarrollo_8_10.v12.suo
WEB_Desarrollo_8_10/WEB_Desarrollo_8_10.sln
libDesarrollo_8_10/libDesarrollo_8_10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache